BODY {color : Black; font-family : Verdana, Geneva, Arial, Helvetica, sans-serif; font-style : normal; margin : 2px 2px 2px 2px; background-color : #CCCCCC; font-size : 10pt; }
A:HOVER { color : #FF9326; }
A{	color : #970026;	text-decoration : none; }
img{ border: 0px none white; }
img.thumb{ border: 1px solid black; }
img.thumb2{ border: 2px solid red; }
h1{ font-size: 16pt; font-weight: bold; text-align: center; color: #970026; }
.button{ border: 2px outset;  font-weight: bold;  height: 15px;  padding: 1px 5px 1px 5px; }
.button_setup{ display: none; }
.button_switch{ position: absolute; left: 5px; border: 2px outset;  font-weight: bold;  height: 15px;  padding: 1px 5px 1px 5px; }
a.button{}
.error { background-color: #FFCC00;  color: #990000;  font-weight: bold;  font-size: 12pt;    text-align: center;  margin: 25px 10px 25px 10px;  padding: 10px 5px 10px 5px;        }
.hide{ display: none; }
.list { width: 700px;  text-align: left;  }
.small { font-weight: bold; font-size: 7pt; }
.form { border: 4px solid #999999; width: 150px; font-weight: bold;}
.form_out { border: 2px solid #999999; font-size: 10pt;  font-weight: bold;  margin: 5px 50px;  padding: 10px;  text-align: right;  width: 450px;}
table { text-align: center; }
td.table { text-align: left; }
#menu{ display: none;  }
#menu2{ border: 1px solid #666666;  background-color: #F1FFB2; padding: 5px 10px 5px 10px; text-align: left;  vertical-align: middle;  }
#main{ border: 2px solid #999999;  margin: 5px 5px 5px 5px;  padding: 5px 5px 5px 5px;  text-align: center; }
#footer{ border: 1px solid #666666;  background-color: #F1FFB2;  text-align: center;  vertical-align: middle;  font-size: 7pt;  font-weight: bold;  margin: 15px 0px 2px 0px;  color: Black;  }
#admin{ border: 1px solid #666666;  background-color: #F1FFB2; padding: 5px 10px 5px 10px; text-align: left;  vertical-align: middle; }
